.footer {
  margin: 90px auto 57px;
  max-width: 1142px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer_services {
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 39px;
  border-top: none;
}

.footer_reviews {
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 39px;
  border-top: none;
}

.footer__logo {
  width: 198px;
  height: 46px;
  margin-right: 130px;
  margin-bottom: 9px;
  padding-top: 40px;
}

.footer__list {
  margin: 0;
  padding: 0;
  max-width: 264px;
  margin-bottom: 16px;
  margin-right: 111px;
  display: flex;
  list-style-type: none;
  gap: 54px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
}

.footer__link:hover {
  color: #FF3D00;
  transition: 1s linear .3s;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  margin-right: 74px;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.footer__social-tg {
  width: 36px;
  height: 36px;
  position: relative;
}

.footer__social-tg:hover::before {
  opacity: 1;
}

.footer__social-tg:hover::after {
  opacity: 0;
}

.footer__social-tg::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -10px -10px;
  transition: 1s linear .3s;
}

.footer__social-tg::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -122px -10px;
  opacity: 0;
  transition: 1s linear .3s;
}

.footer__social-vk {
  width: 36px;
  height: 36px;
  position: relative;
}

.footer__social-vk:hover::before {
  opacity: 1;
}

.footer__social-vk:hover::after {
  opacity: 0;
}

.footer__social-vk::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -66px -10px;
  transition: 1s linear .3s;
}

.footer__social-vk::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -122px -66px;
  opacity: 0;
  transition: 1s linear .3s;
}

.footer__social-fb {
  width: 36px;
  height: 36px;
  position: relative;
}

.footer__social-fb:hover::before {
  opacity: 1;
}

.footer__social-fb:hover::after {
  opacity: 0;
}

.footer__social-fb::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -10px -66px;
  transition: 1s linear .3s;
}

.footer__social-fb::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -10px -122px;
  opacity: 0;
  transition: 1s linear .3s;
}

.footer__social-in {
  width: 36px;
  height: 36px;
  position: relative;
}

.footer__social-in:hover::before {
  opacity: 1;
}

.footer__social-in:hover::after {
  opacity: 0;
}

.footer__social-in::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -66px -66px;
  transition: 1s linear .3s;
}

.footer__social-in::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url('../img/css_sprites.png') -66px -122px;
  opacity: 0;
  transition: 1s linear .3s;
}

.footer__free-call {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.81;
  color: #9A9A9A;
  text-align: end;
  text-decoration: none;
  font-style: normal;
}

.footer__phone {
  max-width: 191px;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.35;
  text-decoration: none;
  font-style: normal;
  color: #fff;
}
