.header {
  margin: 26px auto 0;
  padding-bottom: 76px;
  max-width: 1142px;
  display: flex;
}

.header_services {
  margin: 0 auto;
  padding-bottom: 0;
  flex-direction: column;
  padding-top: 23px;
}

.header_reviews {
  margin: 0 auto;
  padding-bottom: 0;
  flex-direction: column;
  padding-top: 23px;
}

.header__container {
  display: flex;
}

.header__logo {
  width: 198px;
  height: 46px;
  margin-right: 241px;
}

.header__nav {
  margin-top: 22px;
  margin-right: 248px;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 54px;
}

.header__link {
  max-width: 56px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
}

.header__link:hover {
  color: #FF3D00;
  transition: 1s linear .3s;
}

.header__contacts {
  margin-top: 6px;
}

.header__phone {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.35;
  text-decoration: none;
  font-style: normal;
  color: #fff;
}

.header__dropdowm {
  position: relative;
}

.header__dropdowm:hover .header__dropdown-menu {
  display: block;
}

.header__workhours {
  display: block;
  margin-right: 1px;
  font-size: 13px;
  font-weight: 400;
  line-height: 0.9;
  color: #FF3D00;
  text-align: end;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer;
}

.header__dropdown-menu {
  position: absolute;
  background: #EDEDED;
  margin-top: 6px;
  padding: 14px 19px;
  border-radius: 5px;
  top: 100%;
  right: 0;
  display: none;
}

.header__dropdown-menu::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 45px;
  width: 13px;
  height: 13px;
  background: #EDEDED;
  transform: rotate(45deg);
}

.header__dropdown-menu::after {
  content: '';
  position: absolute;
  top: -6px;
  width: 100%;
  height: 20px;
}

.header__dropdown-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.header__dropdown-item {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.62;
  color: #1E1F20;
  font-style: normal;
}

.header__dropdown-item_bold {
  font-weight: 700;
}

.header__title {
  margin: 0;
  padding: 0;
  margin-top: 114px;
  max-width: 303px;
  font-size: 72px;
  font-weight: 800;
  line-height: 1.36;
  text-transform: uppercase;
}

.header__title_reviews {
  max-width: 330px;
  padding-left: 4px;
}

.header__breadcrumbs {
  margin-top: 80px;
  margin-bottom: 28px;
}

.header__breadcrumbs_reviews {
  margin-top: 84px;
}

.header__breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header__breadcrumbs-link {
  text-decoration: underline;
  color: #9A9A9A;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
}

.header__breadcrumbs-link_active {
  font-weight: 700;
}

.header__breadscrumbs-separator {
  color: #9A9A9A;
  margin-left: 2px;
  margin-right: 2px;
}
