.partners {
  background: #F4F5F5;
  padding-top: 140px;
  padding-bottom: 64px;
}

.partners__block {
  margin: 0 auto;
  max-width: 1141px;
}

.partners__title {
  margin: 0;
  padding: 0;
  color: #1A1B1E;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.35;
}

.partners__list {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__item {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  width: 250px;
  height: 100px;
}
