.wrapper_main {
  background: url('../img/top-pic.png') center top no-repeat,
              url('../img/bottom-pic.png') left bottom 306px no-repeat;
}

.wrapper_services {
  background: url('../img/services-header.png') top right 50% no-repeat;
}

.wrapper_hello {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/bg.png') top center no-repeat;
}
